<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
  
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                Navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return handleSubmit(event)">
                    <input id="name" type="text" name="input" value=""  placeholder="Type some sentence">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Sentiment Analysis Results:</strong><br>
                
                <div id="text">Text:</div><br>
                <div id="polarity">Polarity:</div><br>
                <div id="polarity_confidence">Polarity Confidence:</div><br>
                <div id="subjectivity">Subjectivity:</div><br>
                <div id="subjectivity_confidence">Subjectivity Confidence:</div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

        <script>
if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('/service-worker.js')
  .then(function(registration) {
    console.log('Registration successful, scope is:', registration.scope);
  })
  .catch(function(error) {
    console.log('Service worker registration failed, error:', error);
  });
}
        </script>
    </body>
</html>

